/*******************************************************************************
 * Themes
 ******************************************************************************/

 :root {
  --global-bg-color: #7F7E91; /* Purple-Grey */
  --global-code-bg-color: #D1D0D8; /* Light Grey */
  --global-text-color: #2E2D37; /* Dark Grey */
  --global-text-color-light: #7F7E91; /* Purple-Grey */
  --global-theme-color: #7356BF; /* Lavender Purple */
  --global-hover-color: #7356BF; /* Lavender Purple */
  --global-hover-text-color: #FFFFFF; /* White */
  --global-footer-bg-color: #D1D0D8; /* Light Grey */
  --global-footer-text-color: #7F7E91; /* Purple-Grey */
  --global-footer-link-color: #2E2D37; /* Dark Grey */
  --global-distill-app-color: #7F7E91; /* Purple-Grey */
  --global-divider-color: rgba(0, 0, 0, 0.1);
  --global-card-bg-color: #FFFFFF; /* White */

  --global-tip-block: #7356BF; /* Lavender Purple */
  --global-tip-block-bg: #EAE8F2; /* Light Lavender Grey */
  --global-tip-block-text: #3B3652; /* Dark Lavender Grey */
  --global-tip-block-title: #483C67; /* Dark Lavender Purple */
  --global-warning-block: #E79B00; /* Mustard Yellow */
  --global-warning-block-bg: #FFF7D2; /* Light Mustard Yellow */
  --global-warning-block-text: #8B7600; /* Dark Mustard Yellow */
  --global-warning-block-title: #B27D00; /* Light Mustard Yellow */
  --global-danger-block: #C00; /* Red */
  --global-danger-block-bg: #FFD6D6; /* Light Red */
  --global-danger-block-text: #600; /* Dark Red */
  --global-danger-block-title: #C00; /* Red */

  .fa-sun {
    display: none;
  }
  .fa-moon {
    padding-left: 10px;
    padding-top: 12px;
    display: block;
  }

  .repo-img-light {
    display: block;
  }
  .repo-img-dark {
    display: none;
  }
}

html[data-theme="dark"] {
  --global-bg-color: #2E2D37; /* Dark Grey */
  --global-code-bg-color: #222029; /* Dark Charcoal Grey */
  --global-text-color: #7F7E91; /* Purple-Grey */
  --global-text-color-light: #7F7E91; /* Purple-Grey */
  --global-theme-color: #4B3E69; /* Dark Lavender Purple */
  --global-hover-color: #4B3E69; /* Dark Lavender Purple */
  --global-hover-text-color: #FFFFFF; /* White */
  --global-footer-bg-color: #7F7E91; /* Purple-Grey */
  --global-footer-text-color: #2E2D37; /* Dark Grey */
  --global-footer-link-color: #FFFFFF; /* White */
  --global-distill-app-color: #7F7E91; /* Purple-Grey */
  --global-divider-color: #424246;
  --global-card-bg-color: #2E2D37; /* Dark Grey */

  --global-tip-block: #4B3E69; /* Dark Lavender Purple */
  --global-tip-block-bg: #EAE8F2; /* Light Lavender Grey */
  --global-tip-block-text: #3B3652; /* Dark Lavender Grey */
  --global-tip-block-title: #483C67; /* Dark Lavender Purple */
  --global-warning-block: #E79B00; /* Mustard Yellow */
  --global-warning-block-bg: #FFF7D2; /* Light Mustard Yellow */
  --global-warning-block-text: #8B7600; /* Dark Mustard Yellow */
  --global-warning-block-title: #B27D00; /* Light Mustard Yellow */
  --global-danger-block: #C00; /* Red */
  --global-danger-block-bg: #FFD6D6; /* Light Red */
  --global-danger-block-text: #600; /* Dark Red */
  --global-danger-block-title: #C00; /* Red */

  .fa-sun {
    padding-left: 10px;
    padding-top: 12px;
    display: block;
  }
  .fa-moon {
    display: none;
  }

  .repo-img-light {
    display: none;
  }
  .repo-img-dark {
    display: block;
  }
}
