:root {
  --global-bg-color: #780000;  /* رنگ اصلی صفحه */
  --global-code-bg-color: #f0f0f0;  /* رنگ زمینه کد */
  --global-text-color: #780000;  /* رنگ متن اصلی */
  --global-text-color-light: #808080;  /* رنگ متن روشن */
  --global-theme-color: #dab785;  /* رنگ لینک‌ها */
  --global-hover-color: #dab785;  /* رنگ تغییر رنگ هوور */
  --global-hover-text-color: #ffffff;  /* رنگ متن هوور */
  --global-footer-bg-color: #404040;  /* رنگ پس‌زمینه پاورقی */
  --global-footer-text-color: #cccccc;  /* رنگ متن پاورقی */
  --global-footer-link-color: #dab785;  /* رنگ لینک پاورقی */
  --global-distill-app-color: #808080;  /* رنگ اپلیکیشن Distill */
  --global-divider-color: rgba(0, 0, 0, 0.1);  /* رنگ خط تقسیم */
  --global-card-bg-color: #ffffff;  /* رنگ پس‌زمینه کارت */

  /* رنگ‌های دیگر */
  --global-tip-block: #c44536;
  --global-tip-block-bg: #f0f0f0;
  --global-tip-block-text: #c44536;
  --global-tip-block-title: #c44536;
  --global-warning-block: #283d3b;
  --global-warning-block-bg: #f0f0f0;
  --global-warning-block-text: #283d3b;
  --global-warning-block-title: #283d3b;
  --global-danger-block: #772e25;
  --global-danger-block-bg: #f0f0f0;
  --global-danger-block-text: #772e25;
  --global-danger-block-title: #772e25;

  .fa-sun {
    display: none;
  }
  .fa-moon {
    padding-left: 10px;
    padding-top: 12px;
    display: block;
  }

  .repo-img-light {
    display: block;
  }
  .repo-img-dark {
    display: none;
  }
}

html[data-theme="dark"] {
  --global-bg-color: #0a1128;  /* رنگ اصلی صفحه در حالت تیره */
  --global-code-bg-color: #1a1a1a;  /* رنگ تیره زمینه کد */
  --global-text-color: #cccccc;  /* رنگ تیره متن اصلی */
  --global-text-color-light: #cccccc;  /* رنگ تیره متن روشن */
  --global-theme-color: #00cccc;  /* رنگ تیره لینک‌ها */
  --global-hover-color: #00cccc;  /* رنگ تغییر رنگ هوور */
  --global-hover-text-color: #ffffff;  /* رنگ تیره متن هوور */
  --global-footer-bg-color: #a9a9a9;  /* رنگ تیره پس‌زمینه پاورقی */
  --global-footer-text-color: #404040;  /* رنگ تیره متن پاورقی */
  --global-footer-link-color: #000000;  /* رنگ تیره لینک پاورقی */
  --global-distill-app-color: #cccccc;  /* رنگ تیره اپلیکیشن Distill */
  --global-divider-color: #424246;  /* رنگ تیره خط تقسیم */
  --global-card-bg-color: #303030;  /* رنگ تیره پس‌زمینه کارت */

  /* رنگ‌های دیگر */
  --global-tip-block: #c44536;
  --global-tip-block-bg: #1a1a1a;
  --global-tip-block-text: #c44536;
  --global-tip-block-title: #c44536;
  --global-warning-block: #283d3b;
  --global-warning-block-bg: #1a1a1a;
  --global-warning-block-text: #283d3b;
  --global-warning-block-title: #283d3b;
  --global-danger-block: #772e25;
  --global-danger-block-bg: #1a1a1a;
  --global-danger-block-text: #772e25;
  --global-danger-block-title: #772e25;

  .fa-sun {
    padding-left: 10px;
    padding-top: 12px;
    display: block;
  }
  .fa-moon {
    display: none;
  }

  .repo-img-light {
    display: none;
  }
  .repo-img-dark {
    display: block;
  }
}
